<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Granblue Fantasy Versus Hub</title>
        <link rel="stylesheet" href="/css/indexpage.css">
    </head>
    <body>
        <div class="container">
            <%- include ('../partials/header.ejs') %>
            <div class="char-section">
                <div class="char-info">
                    <div class="char-apperence">
                        <h1><%= character.name%></h1>
                        <% let name = character.name+'.png' %>
                        <img src='/img/fullBody/<%= name %>' alt="">
                    </div>
                    <div class="char-description">
                        <h3>Story</h3>
                        <p><%= character.description%></p>
                    </div>
                </div>
            </div>
            <div class="combo-container">
                <div class="combo-section">
                    <h3>Combo Video</h3>
                    <iframe src= <%= character.link %> width="710" height="410" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>




    </body>
</html>
